Repository NariP/modoo-todo, pull requests merged in 2021-08, with the labels that each got.

#7 feat: LocalStorage 관련 util 함수 추가 #6
  src/utils/constants/LocalStorageKey.ts
  src/utils/constants/index.ts
  src/utils/localStorageHelper.ts
Labels: utils

#10 docs: Add pull request template #9
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, setting

#12 Update issue templates
  .github/ISSUE_TEMPLATE/document.md
  .github/ISSUE_TEMPLATE/normal-feature.md
  .github/ISSUE_TEMPLATE/refactoring.md
Labels: documentation, setting

#19 style: Edit reset css and theme #16
  src/components/Layout/Layout.tsx
  src/style/GlobalStyle.ts
  src/style/theme.ts
Labels: style

#21 feature: Header 구현#20
  public/index.html
  src/components/Icon/Icon.tsx
  src/components/Icon/index.ts
  src/components/Layout/GNB.tsx
  src/components/Layout/Layout.tsx
  src/components/ToggleButton/ToggleButton.tsx
  src/components/ToggleButton/index.ts
  src/style/GlobalStyle.ts
  src/utils/dataFiltering.ts
  src/utils/getFormattedDate.ts
  src/utils/index.ts
Labels: feature

#23 feature: Toggle로 theme 바꾸는 기능 구현 #22
  src/App.tsx
  src/ThemeComponent.tsx
  src/components/Layout/GNB.tsx
  src/components/Layout/Layout.tsx
  src/components/ToggleButton/ToggleButton.tsx
  src/index.tsx
  src/style/index.ts
  src/style/theme.ts
Labels: feature

#25 fix: GNB UI 수정 & mainSection 외 다른 부분에도 background 적용 #24
  src/components/Layout/GNB.tsx
  src/components/Layout/Layout.tsx
Labels: enhancement, fix

#26 feat: Add Modal #18
  src/components/Modal/CloseButton.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/hooks/index.ts
  src/components/Modal/hooks/useModal.ts
  src/components/Modal/index.ts
  src/pages/todo/TodoContainer.tsx
Labels: feature, modal

#29 feat: Todo 등록, 삭제 기능 추가, 리뷰 반영 #13
  public/index.html
  src/pages/todo/Template/Filter/TodoFilter.tsx
  src/pages/todo/Template/Head/TodoHead.tsx
  src/pages/todo/Template/List/Item/TodoItem.tsx
  src/pages/todo/Template/List/TodoList.tsx
  src/pages/todo/TodoContainer.tsx
  src/pages/todo/TodoPresenter.tsx
  src/pages/todo/index.ts
  yarn.lock
Labels: Todo

#32 Style/filter UI#31
  src/components/DatePicker/MyDatePicker.tsx
  src/components/DatePicker/style.css
  src/components/Select/Select.tsx
  src/pages/todo/Template/Filter/TodoFilter.tsx
  src/pages/todo/Template/Head/TodoHead.tsx
  src/pages/todo/Template/List/TodoList.tsx
  src/utils/constants/Status.ts
  src/utils/constants/index.ts
Labels: feature, style

#34 Responsive: Add media query #17
  src/components/Layout/Layout.tsx
  src/pages/todo/TodoContainer.tsx
  src/style/GlobalStyle.ts
Labels: style
